---
- name: Install sysstat package
  ansible.builtin.package:
    name: sysstat
    state: present
  become: true

- name: Enable sysstat service
  ansible.builtin.service:
    name: sysstat
    enabled: true
  when:
    - sysstat_service_enable
    - ansible_facts['os_family'] == 'Debian'
  become: true

- name: Enable sysstat
  ansible.builtin.lineinfile:
    path: /etc/default/sysstat
    regexp: '^ENABLED='
    line: 'ENABLED="true"'
    mode: 0644
    create: true
  when: ansible_facts['os_family'] == 'Debian'
  become: true

- name: Copy sysstat configuration
  ansible.builtin.copy:
    src: 'sysstat-{{ ansible_facts["os_family"] }}.cron'
    dest: /etc/cron.d/sysstat
    owner: root
    group: root
    mode: 0644
    backup: true
  become: true
